<div class="row">
    <div class="text-center">
        <img class="img img-fluid" 
        src="<%= PhxBlog.Cover.url({@post.cover, @post}) %>" 
        alt="cover image"
        style="width: 100%">
        <br><br>
        <div class="text-center">
            <h1><%= @post.title %></h1>
            <h4>Author: <%= @post.user.username %></h4>
            <p><%= markdown(@post.body) %></p>
        </div>        
    </div>
</div>