<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h1><%= @post.title %></h1>
            <h4>Author: <%= @post.user.username %></h4>
            <br><br>
            <p><%= @post.body %></p>
        </div>        
    </div>
</div>