<div class="row">
    <div class="text-center">
        <div class="col-sm-12">
                <img class="img" src="<%= PhxBlog.Cover.url({@post.cover, @post}) %>" alt="cover" style="width: 50%; height:auto">
        </div>
        <br><br>
        <div class="text-center">
            <h1><%= @post.title %></h1>
            <h4>Author: <%= @post.user.username %></h4>
            <p><%= markdown(@post.body) %></p>
        </div>        
    </div>
</div>